.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 10vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-body {
  background-color: #282c34;
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(6px + 1vmin);
  color: white;
  
}

.App-link {
  color: #61dafb;
}


.Parametres-box{
  display: flex;
  min-width: 70vh;
  justify-content: center;

  border: 1px solid #292;
  padding: 10px;
  margin-bottom: 20px;
}

.Parametres-box>div{
  padding: 10px
}
.Parametres-box>div>input{
  width: 40px
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
